/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
    color: black;
    text-align: center;
    padding-top: 5vh;
}

.title {
    color: #ffd369;
    font-size: 2rem;
    padding-bottom: 3vh;
}

.qr-code-holder {
    padding-top: 3vh;
}

.message-holder {
    min-height: 55vh;
    overflow-y: scroll;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .5rem;
    border-color: darkgray;
    border-style: solid;
}

.message {
    color: #eeeeee;
    text-align: left;
    font-size: 1.2rem;
    padding: .25rem;
    border-radius: .25rem;
}

.message:hover {
    background-color: gray;
    border-radius: .25rem;
}

/* media */
@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
    }

    body {
        padding-top: 2vh;
    }

    .message-holder {
        height: 75vh;
    }

    .title {
        color: #ffd369;
        font-size: 1.5rem;
        padding-bottom: 1.5vh;
    }

    .qr-code {
        max-width: 90%;
        height: auto;
        padding-bottom: 2vh;
    }

    .right-buttons {
        padding-top: 3vh;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}